.top {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 80px;
  margin-left: 40px;
}

/* CurrentLocation.css */
.fetch-location-container {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #6e707a;
  color: #fff;
  cursor: pointer;
  border-radius: 80%; /* Make the entire container circular */
  border: 2px solid #6e707a; /* Add a gray border around the container */
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.fetch-location-container:hover {
  background-color: #495057;
}

.location-icon {
  font-size: 15px;
  margin-right: 5px;
}

.weather-info-container {
  left: 95px;
  margin-top: 40px;
}

.location-info {
  color: #88869d;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  margin-top: 20px;
  margin-right: 10px;
}

.current-day {
  margin: 0;
  font-size: 14px;
  color: #88869d;
  font-family: Raleway;
  font-weight: bold;
  margin-right: 5px;
}

.weather-info-container1 {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}

.temperature-info {
  color: #e7e7eb;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 200px;
}

.weather-description {
  color: #a09fb1;
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
